<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    {% include head-custom.html %}
    
    <meta name="citation_isbn" content="978-5-9903439-3-1"> 
    <meta name="citation_isbn" content="978-5-9903439-4-8"> 
    <meta name="citation_isbn" content="978-5-9903439-5-5"> 
    <meta name="citation_isbn" content="978-5-9903439-6-2"> 

    <meta property="og:description" content="Official Edition. ISBN 978-5-9903439-4-8. An artistic study of the Orthodox Military Putinism.">
    <style>
  body, html { font-size: 18px !important; width: 100% !important; margin: 0 !important; padding: 10px !important; }
  div, section, p, article { max-width: 100% !important; width: auto !important; }
  
  img {  width: 100% !important; 
    max-width: 800px !important; 
    min-width: 320px !important; 
    height: auto !important; 
    display: block; 
    margin: 10px auto !important;  }
</style>

</head>
<body>
    {{ content }}
    © 2024-2026 Olga Shcheglova (Boris Bidyaga). All rights reserved. Licensed under CC BY-NC-ND 4.0
</body>
</html>
